<!-- Toolbar -->
<mat-toolbar class="toolbar">

    <span class="spacer"></span>
    <button mat-raised-button class="to-right" (click)="loginButtonHandler($event)">
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="User icon">account_circle</mat-icon>
        <span> Einloggen </span>
        <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Expand more icon" (click)="expandMoreHandler($event)">
            {{ accountDialogDisplayed ? 'expand_more' : 'expand_less'}}
        </mat-icon>
    </button>

</mat-toolbar>

<router-outlet></router-outlet>

<!-- Main
<div class="content" role="main"></div>
-->
