/*
 This style file defines all global styles used throughout the application, and also imports any exterior style files
 upon which the project depends on.
*/


/* -------------------------------------------------- CSS imports -------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Hind|Roboto:300&display=swap');

/* ----------------------------------------------------- By tag ----------------------------------------------------- */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;  /* We should choose a new one font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

/* ---------------------------------------------------- By class ---------------------------------------------------- */
.titles {
  font-family: 'Hind', sans-serif;
}
